# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Теки збірки CMake
build/
out/
.cmake/

# Згенеровані ключі та зашифровані файли
*.key
*.enc

# Виконувані файли (для Windows)
*.exe
*.obj
*.lib
*.dll
*.pdb
